opencv-python
numpy
keyboard
psutil
pillow
pywin32
nuitka
PyAutoIt
PyInstaller
pynput
requests
mss
tkinterdnd2
pyautogui
winrt-Windows.Media.Ocr
winrt-Windows.Graphics.Imaging
winrt-Windows.Storage.Streams
winrt-Windows.Foundation